[Unit]
Description=Mini-Docker Daemon

[Service]
Type=forking
PIDFile=/run/mini-docker/mini-docker.pid
ExecStart=/usr/bin/mini-docker \
	--mount /tmp/mini-docker \
    --log_file /var/log/mini-docker/mini-docker.log \
    --pid_file /run/mini-docker/mini-docker.pid \
    --command /usr/bin/mini-test \
    --daemon
TimeoutStartSec=5
User=root

[Install]
WantedBy=multi-user.target